# Miscellaneous
.*
!.github/

# Flutter/Dart/Pub related
**/doc/api/
**/ios/Flutter/.last_build_id
.dart_tool/
.flutter-plugins
.flutter-plugins-dependencies
.pub-cache/
.pub/
/build/

# Symbolication related
app.*.symbols

# Obfuscation related
app.*.map.json

# Android Studio will place build artifacts here
/android/app/debug
/android/app/profile
/android/app/release
*.jks
*.keystore

# XCode related
macos/Runner.xcodeproj/xcuserdata/
macos/Runner.xcworkspace/xcuserdata/
ios/Runner.xcodeproj/xcuserdata/
ios/Runner.xcworkspace/xcuserdata/
macos/Runner/Configs/LocalSigning.xcconfig
ios/Flutter/LocalSigning.xcconfig

# Environment files 
.env
.env.local
.env.*.local

# Secrets
*.pem
*.key
secrets/